.member-cards__icon {
  height: 63px;
  width: 63px;
  margin: 5px auto;
}
.member-cards__icon--Warrior {
  background: url(../img/Warrior.png);
}
.member-cards__icon--Astrologian {
  background: url(../img/Astrologian.png);
}
.member-cards__icon--Bard {
  background: url(../img/Bard.png);
}
.member-cards__icon--Black {
  background: url(../img/BlackMage.png);
}
.member-cards__icon--Dark {
  background: url(../img/DarkKnight.png);
}
.member-cards__icon--Dragoon {
  background: url(../img/Dragoon.png);
}
.member-cards__icon--Machinist {
  background: url(../img/Machinist.png);
}
.member-cards__icon--Monk {
  background: url(../img/Monk.png);
}
.member-cards__icon--Ninja {
  background: url(../img/Ninja.png);
}
.member-cards__icon--Paladin {
  background: url(../img/Paladin.png);
}
.member-cards__icon--Red {
  background: url(../img/RedMage.png);
}
.me Magember-cards__icon--Samurai {
  background: url(../img/Samurai.png);
}
.member-cards__icon--Scholar {
  background: url(../img/Scholar.png);
}
.member-cards__icon--Summoner {
  background: url(../img/Summoner.png);
}
.member-cards__icon--White {
  background: url(../img/WhiteMage.png);
}
